
  .background{
      color: lightpink;
  }
 
  .whyBest{
      background-color:lemonchiffon;
      border-radius:50px 50px 50px 50px;
      border-bottom-style:groove; 
      padding: 30px 40px 30px 50px;
  }

  h1{

      color:blue;
      position:absolute;
      left: 420px;
      top: 45px;
  }

